# ── core ──
MONGO_URI=mongodb://localhost:27017
# with auth:  mongodb://user:password@localhost:27017/?authSource=admin
DB_NAME=sudosudev
SECRET_KEY=ed418cb9801b08367bb97eba3d24e75706f833083d51e84140a4736733b9128b
COOKIE_SECURE=1          # 1 in prod (https), 0 for local http

MAIL_ENABLED=1
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sudosudev.team@gmail.com
SMTP_PASS=xalwmowkaxzxrtuh
MAIL_FROM=sudosudev <sudosudev.team@gmail.com>
ADMIN_EMAIL=sudosudev.team@gmail.com
